
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {
	text-decoration:none;
	color: #fff;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
	border: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}

/*my css*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.item-container::before {
    display: table;
    content: " ";
}
.item-container::after {
	display: table;
	content: " ";
	clear: both;
}
.item-container {
	margin-right: -15px;
	margin-left: -15px;
}
.item-md-3, .item-md-4, .item-md-5, .item-md-6, .item-md-7, .item-md-8, .item-sm-3, .item-sm-4, .item-sm-5, .item-sm-6, .item-sm-7, .item-sm-8 {
	position: relative;
	padding-right: 15px;
	padding-left: 15px;
}
.img-resp {
	display: block;
	max-width: 100%;
	height: auto;
}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font-size: 36px; font-weight: bold;}
h3 {font-size: 30px; font-weight: bold;}
h4 {font-size: 24px; font-weight: bold;}
h5 {font-size: 18; font-weight: bold;}
h6 {font: 16px sans-serif;}
p {}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/
/* wrapper */
#wrapper {
	width:100%;
	height:100%;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #333;
}
.layout {
	display: block;
	overflow: hidden;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}
.clear {
	clear: both;
}
#header {
	display: block;
	overflow: hidden;
	width: 100%;
	background: #0d0b11;
	position: fixed;
	right: 0;
	left: 0;
	min-height: 80px;
	z-index: 99999;
}
#header .logo {
	width: 183px;
	height: 25px;
	margin: 30px 0 25px;
	background: url(../images/logotype.png) 0 0 no-repeat;
}
#header .logo a {
	width: 100%;
	display: block;
	height: 28px
}
.open-menu {
	display: block;
	position: absolute;
	right: 15px;
	top: 20px;
}
.fa_icon .fa {
    cursor: pointer;
    color: #FFF;
    font-size: 40px;
    opacity: 1;
}
.fa_icon .fa:hover, .fa_icon .fa:focus {
    opacity: 0.5;
}
#header .nav {
	display: none;
}
#header .nav.display {
	display: block;
}
#header .nav li {
	display: block;
	margin-bottom: 20px;
	text-align: center;
}
#header .nav li a {
	color: #fff;
	font-size: 24px;
	line-height: 26px;
}
#header .nav li a:hover, #header .nav li a.active  {
	color: #ea5b58;
}
#main {
	display: block;
	width: 100%;
	background: #ebedec;
	padding-top: 80px;
}
.layout.rel {
	position: relative;
	height: 485px;
}
/****************************************slider*/
.slider-kalau {
	background: #161828;
	width: 100%;
}
.slider-kalau  .container-flex {
	display: flex;
	flex-direction: column-reverse;
	height: auto;
	justify-content: center;
}
.slider-kalau .text-block {
	position: relative;
	z-index: 2;
	text-align: center;
}
.slider-kalau h2 {
	color: #FFF;
	margin-bottom: 26px;
	position: relative;
	z-index: 2;
}
.slider-kalau p {
	font-size: 24px;
	color: #FFF;
	margin-bottom: 45px;
}
.button-more {
	font-size: 18px;
	color: #FFF;
	width: 145px;
	height: 54px;
	background-color: #ea5b58;
	display: inline-block;
	border-radius: 4px;
	text-align: center;
	line-height: 54px;
}
.button-more:hover {
	background-color: #e47775;
}
.slider-kalau .img-slider {
	display: block;
	position: relative;
	z-index: 2;
	text-align: center;
}
.slider-kalau .img-slider img {
	margin: 0 auto;
}
.slider-kalau .image-holder-bg {
	position: absolute;
	bottom: 0;
	z-index: 1;
	left: 24px;
	max-width: 100%;
	height: auto;
	display: block;
}

/****************************************services*/
.services-block {
	background: #475a85;
	width: 100%;
}
.title-block {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}
.services-block .title-block {
	color: #fff;
}
.title-block h3 {
	margin-bottom: 20px;
}
.title-block p {
	margin-bottom: 24px;
}
.title-block:after {  
    content: " ";  
    position: relative;  
    background: url(../images/separator1.png) 0 0 no-repeat;  
    display: inline-block;  
    height: 13px;  
    width: 281px;  
}
.services-block .container-flex {
	display: flex;
	flex-direction: column;
}
.item-services {
	margin-bottom: 50px;
	text-align: center;
	color: #fff;
	width: 100%;
}
.item-services  .img-block {
	display: inline-block;
	height: 60px;
}
.item-services  h5 {
	margin-bottom: 20px;
}
.item-services  p {
	font-size: 14px;
	margin-bottom: 30px;
}
.item-services  .button-more {
	width: 88px;
	height: 33px;
	font-size: 11px;
	line-height: 33px;
}
/****************************************slogan*/
.slogan {
	background-color: #7B7B7B;
	background: url(../images/mask-parallax.png) 0 0 repeat;
	height: 222px;
	color: #fff;
	text-align: center;
	padding: 0 15px;
}
.slogan .container-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: inherit;
}
.slogan h2 {
	font-size: 28px;
}
/****************************************portofolio*/
#work .title-block:after {  
    background: url(../images/separator.png) 0 0 no-repeat;  
}

#tab2, #tab3 {
    display: none;
}
.nav-portofolio {
	margin-bottom: 48px;
	text-align: center;
	display: block;
}
.nav-portofolio li {
	display: inline-block;
}
.nav-portofolio li a {
	color: #969696;
}
.nav-portofolio li a:hover, .nav-portofolio li a.active {
	color: #333;
}
.portofolio-block .container-flex {
	display: flex;
	flex-direction: column;
}
.item-portofolio {
	background-color: #475A85;
	text-align: center;
	color: #fff;
	padding: 50px 36px 40px;
	margin-bottom: 30px;
	width: 100%;
	position: relative;
}
.item-content {
	position: relative;
	z-index: 100;
}
.item-portofolio .item-mask {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #7B7B7B;
	opacity: 1;
	top: 0;
	left: 0;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	z-index: 199;
}
.item-portofolio:hover .item-mask {
	opacity: 0;
	z-index: 99;
}
.item-portofolio h4 {
	margin-bottom: 20px;
}
.item-portofolio p {
	font-size: 14px;
	margin-bottom: 30px;
}
.item-portofolio a:hover {
	opacity: 0.4;
}
.browse-all {
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: center;
	display: block;
}
.browse-all h5 {
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-bottom: 12px;
}
.browse-all a:hover {
	opacity: 0.4;
}
/****************************************reviews-block*/
#testimonials .title-block:after {  
    background: url(../images/separator.png) 0 0 no-repeat;  
}

#testimonials .container-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.block-circle {
	width: 100%;
}
#testimonials .bx-viewport {
	height: auto!important;
	background-color: #EBEDEC;
	border: none;
	box-shadow: none;
	left: 0;
}
.text-reviews {
	width: 100%;
}
.circle {
	background-color: #7B7B7B;
	width: 210px;
	height: 210px;
	border: 4px solid #BCBCBC;
	border-radius: 50%;
	margin:  0 auto;
}
.text-reviews p {
	font-style: italic;
	margin-left: 22px;
}
.text-reviews .customer {
	font-size: 24px;
	font-weight: bold;
	margin-top: 20px;
}



.scrolloff { pointer-events: none; }

.contact-block {
	background: #475a85;
	width: 100%;
}
.contact-block .title-block {
	color: #fff;
}
.contact-container {
	margin-bottom: 80px;
}
.item-contact {
	color: #fff;
	text-align: center;
}
.item-contact p {
	margin-bottom: 22px;
}
.item-contact p span {
	margin-right: 15px;
}
.item-contact p span.fa-envelope {
	color: #FFF;
}
.item-contact p:first-child {
	font-weight: bold;
}
.item-contact p:nth-child(2) {
	margin-bottom: 37px;
}

.nav-social {
	margin: 50px 0;
	display: block;
}
.nav-social li {
	display: inline-block;
}
.nav-social li a {
	width: 36px;
	height: 36px;
	background-color: #C0C0C0;
	display: block;
	border-radius: 50%;
	margin-right: 20px;
	color: #475A85;
	padding: 10px;
}
.nav-social li a:hover, .nav-social li a.active {
	background-color: #FFF;
}
.nav-social li a.fa-facebook {
	padding-left: 13px;
}


input, textarea {
	padding: 20px;
	color: #969696;
	font-size: 18px;
	border-radius: 4px;
	width: 100%;
	margin-bottom: 20px;
}
textarea {
	height: 163px;
}
#do_feedback.button-more {
	width: 156px;
	height: 57px;
	line-height: 57px;
}


#footer {
	display: block;
	width: 100%;
	background: #161828;
	text-align: center;
	padding: 51px 0;
}
#footer p {
	font-size: 14px;
	margin-bottom: 22px;
	color: #76777f;
}

#footer h4 {
	color: #939393;
}
#footer h4 span {
	color: #76777f;
	font-weight: 400;
}

#up_button { display: none; bottom: 33px; right: 33px;}
	.toTop { width: 57px; height: 57px; font-size: 40px; line-height: 52px; color: #939393;  background-color: #C0C0C0; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -moz-transition: 0.3s; -o-transition: 0.3s; -webkit-transition: 0.3s; transition: 0.3s; position: fixed; overflow: hidden; text-align: center; text-decoration: none; z-index: 200; }
	.toTop:hover { background-color: #7B7B7B; }


@media (max-width: 768px) {
	.slider-kalau .img-slider { margin: 50px 0 40px; }
	.slider-kalau .text-block { margin-bottom: 50px; }
}

@media (min-width: 768px) {
	.layout { width:768px; }
	.open-menu { display: none; }
	#header .logo { float: left; }
	#header .nav { display: block; float: right; }
	#header .nav li { display: inline-block; margin: 0 0 0 30px; }
	#header .nav li a { font-size: 14px; line-height: 80px; }

	.slider-kalau  .container-flex { height: 385px; 	flex-direction: row; justify-content: space-between; align-items: center;}
	.slider-kalau .text-block  { width: 50%; text-align: left; }
	.slider-kalau .img-slider { width: 50%; margin-right: -23px; }
	.slider-kalau .image-holder-bg { width: 73%; }
 
	.services-block .container-flex, .portofolio-block .container-flex { flex-direction: row; justify-content: space-between; flex-wrap: wrap;}
	.item-services { width: 50%; padding: 0 15px; }

	.item-portofolio { width: 48%; }

	.slogan { height: 322px; padding: 0; }
	.slogan h2 { font-size: 36px; }
	.slogan p { font-size: 22px; }

	#testimonials .container-flex { flex-direction: row; }
	.block-circle { width: 30%; }
	.text-reviews { width: 65%; }

	.item-contact { text-align: left; }
	.nav-social { margin: 50px 0 0 0; }
	input { width: 48%; }
	#feedback_name { float: left; }
	#feedback_email { float: right; }

	.item-sm-4 { width: 33.33333333%; }
	.item-sm-5 { width: 41.66666667%;}
	.item-sm-6 { width: 50%; }
	.item-sm-7 { width: 58.33333333%; }
	.item-sm-8 { width: 66.66666667%; }
	.item-md-3, .item-md-4, .item-md-5, .item-md-6, .item-md-7, .item-md-8, .item-sm-3, .item-sm-4, .item-sm-5, .item-sm-6, .item-sm-7, .item-sm-8 {
		float: left;
	}
}
@media (min-width: 768px) and (max-width: 1199px){
	input, textarea { font-size: 16px; }
}

@media (min-width: 992px) {
	.layout { width:992px; }
	#header .nav li { margin: 0 0 0 50px; }

	.slider-kalau .img-slider { width: 40%; }
	.slider-kalau .text-block  { width: 60%; }
	.slider-kalau h2 { font-size: 28px; margin-bottom: 46px;}
	.slider-kalau p { font-size: 20px; margin-bottom: 70px;}

	.title-block { margin-top: 72px; margin-bottom: 74px; }
	.item-services { width: 25%; }

	.item-portofolio { width: 31.5%; }

	.slogan h2 { font-size: 48px; }
	.slogan p { font-size: 24px; }

	.item-md-3 { width: 25%; }
	.item-md-4 { width: 33.33333333%; }
	.item-md-5 { width: 41.66666667%; }
	.item-md-6 { width: 50%; }
	.item-md-7 { width: 58.33333333%; }
	.item-sm-8 { width: 66.66666667%; }
}

@media (min-width: 1200px) {
	.layout { width:1200px; }

	.slider-kalau  .container-flex { height: 485px; }
	.slider-kalau .text-block  { width: auto; }
	.slider-kalau .img-slider { height: 369px; width: 512px; }
	.slider-kalau h2 { font-size: 36px; }
	.slider-kalau p { font-size: 24px; }
	.slider-kalau .image-holder-bg { width: 910px; }

	.slogan { height: 422px; }
}